/* Global */

body {
	font-family: Arial;
	font-size: 3rem;
	line-height: 1.5;
	background-color: #1C1C1C;
	color: #333333;
	margin: 35px 10px 40px 10px;
}

img {
  margin: 0 auto;
  display: block;
  height:  auto;
}

a {
  text-decoration: none;
}

.container {
    width: 100%;
    /* max-width: 680px; */
    margin: 0 auto;
    padding: 0px 12px 0px 12px;
}

/* Header */

.prof-pic {
  border-radius:  50%;
  width: 240px;
}

.user-name {
  text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-name a {
   color: #bbb;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: 'Karla', Helvetica, sans-serif;
}

.user-name a:hover {
  color: #FFF;
}

/* Links */

.link {
    display: block;
    background-color: #3d3b3c;
    color: #fff;
    text-align: center;
    font-family: 'Karla', Helvetica, sans-serif;
    font-weight: 600;
    padding: 25px 0 25px 0;
    margin: 12px 0 12px 0;

}

.link:hover {
    color: #fff;
    background-color: #fff;
}


/*Custom hover colours for sites*/
.twitter:hover{
  background-color: #00acee;
}

.youtube:hover{
  background-color: #c4302b;
}

.twitch:hover{
  background-color:#6441a5;
}

.instagram:hover{
  background-color:#C13584;
}

.tiktok:hover{
  background-color:#69C9D0;
}

.discord:hover{
  background-color:#7289da;
}

.facebook:hover{
  background-color:#3b5998;
}

.webshop:hover{
  background-color:#23a9e1;
}

.steam:hover{
  background-color:#1b2838;
}

.patreon:hover{
  background-color:#f96854;
}

.humble:hover{
  background-color:#cb272c;
}

@media (min-device-width : 1280px) {

  .container {
    max-width: 768px;
    margin: 0 auto;

  } 

  body {
    font-family: Arial;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: #1C1C1C;
    color: #333333;
    margin: 35px 10px 40px 10px;
  }

  .link {
    padding: 10px 0 10px 0;

}
  .prof-pic {
    width: 140px;
  }
  
  .user-name {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .user-name a {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Karla', Helvetica, sans-serif;
  }
}